# Ignore any Node.js modules, as they're downloaded via NPM.
node_modules

# Ignore generated CSS files and their associated map files.
**/*.css
**/*.css.map

entrypoints.json
manifest.json

# These are generated via Grunt and ImageMagick.
components/founder_message/founder_message_portait_1x.webp
components/founder_message/founder_message_portait_2x.webp
