// -----------------------------------------------------------------------------
//   Omnipedia founder message partial
// -----------------------------------------------------------------------------

@use 'sass/helpers/breakpoint';
@use 'sass/variables/general';

@include breakpoint.add((
  // The viewport width at which we take the founder photo from being placed at
  // the end of the block to being placed beside the content, i.e. 'standalone'
  // to 'inline'.
  'omnipedia-founder-block-photo-inline': 70em
));

///
/// The founder block padding.
///
/// This is the same as main page cards.
///
$block-padding: general.$general-spacing * 1.5;

///
/// Founder block minimum height.
///
/// We need a minimum height to avoid the founder photo getting too small.
///
$block-min-height: 15em;

///
/// Founder photo URL on 1x density.
///
$photo-url-1x: 'founder_message_portait_1x.webp?v=3';

///
/// Founder photo URL on 2x density.
///
$photo-url-2x: 'founder_message_portait_2x.webp?v=3';

///
/// Founder photo URL for browsers that don't support WebP.
///
$photo-url-fallback: 'founder_message_portait_1x.png?v=3';

///
/// Founder photo maximum width when inline, i.e. beside content.
///
/// This affects the size of the photo on both axes as it'll be constrained to
/// fit inside of this, respecting the photo's aspect ratio.
///
$photo-inline-max-width: 15em;

///
/// Founder photo height when standalone.
///
/// This affects the size of the photo on both axes as it'll be constrained to
/// fit inside of this, respecting the photo's aspect ratio.
///
$photo-standalone-height: 20em;
