// -----------------------------------------------------------------------------
//   Omnipedia - Block - Privacy settings component
// -----------------------------------------------------------------------------

// Placeholder contents are displayed as inline-grid so that we can stack both
// the visible text and the text that will be in the button that replaces it,
// in such a way that should minimize or eliminate any layout shifting when the
// swap occurs.
.omnipedia-privacy-settings-placeholder {

  &:not([hidden]) {
    display: inline-grid !important;
  }

  grid-template-areas: 'content';

  align-items: center;

  &::after {
    content: attr(data-privacy-settings-title);

    grid-area: content;

    visibility: hidden;
  }

  &__content {
    grid-area: content;
  }
}

.omnipedia-privacy-settings-placeholder,
.omnipedia-privacy-settings-toggle {
  hyphens: none;

  font-size: 90%;
}
